:root {
  --track-h: 54px;
  --thumb-size: 46px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.wrapper {
  background-image: url("./assists/images/mobile-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mobile-layout {
  width: 100%;
  max-width: 400px;
  height: 700px;
  border: 5px solid black;
  border-radius: 25px;
  color: white;
  padding-top: 2%;
  /* padding-bottom: 2%; */
  position: relative;
}
.background {
  background-image: url("././assists/images/mobile-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-header {
  width: 100%;
  padding: 10px;
}
.speaker {
  width: 50px;
  height: 18px;
  background-color: black;
  border-radius: 999px;
}
.main {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
}
.main.contact {
  background-color: gray;
  border-radius: 0px 0px 17px 17px;
}
.slides {
  position: absolute;
  top: 80%;
  width: 95%;
  height: 50px;
  color: black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.slides > *:hover {
  color: purple;
  /* cursor: pointer; */
  /* transform: translateX(20px); */
}

.slides:hover {
  background-color: wheat;
}
/* range track no oppearance and style */
.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: grabbing;
}
/* Chrome, Safari, Edge (Chromium) for thumb slide */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    rgba(48, 53, 202, 0.637),
    rgba(240, 149, 4, 0.69)
  );
}
/* Firefork */
.range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    rgba(48, 53, 202, 0.637),
    rgba(240, 149, 4, 0.69)
  );
}
.slideShake {
}
/* .fa-chevron-right {
  animation: icons 1.5s infinite linear;
  left: 5%;
}
@keyframes icons {
  0% {
    left: 3%;
  }
  100% {
    left: 6%;
  }
} */
.slider-text {
  top: 50%;
  left: 50%;
  /* It is often combined with top: 50% and left: 50% 
  to perfectly center an element. it is used for position absolute only*/
  transform: translate(-50%, -50%);
  /* make disable text to select from browser */
  pointer-events: none;
  animation: shake 1.5s infinite linear;
}
@keyframes shake {
  0% {
    top: 15%;
    left: 50%;
    transform: translate(-50px);
    color: black;
  }
  100% {
    top: 15%;
    left: 53%;
    transform: translate(-50px);
    color: rgb(199, 12, 62);
  }
}
.contactlist {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: red;
}
.contact-icon {
  left: 42.5%;
}
#contactlist {
  cursor: pointer;
}
.non-display {
  display: none !important;
}
.list {
  width: 100%;
  padding: 0px 2px;
  /* background-color: white; */
  border-radius: 0px 0px 17px 17px;
  height: 610px;
}
#displayContact {
  min-width: 100%;
}
.search {
  /* padding: 0px 20px 0px 10px; */
  width: 100%;
  position: relative;
}
.lbl-contact {
  font-size: 2rem;
}
.search > i {
  position: absolute;
  left: 90%;
  top: 80%;
  cursor: pointer;
}
.img-thumnail {
  width: 190px;
  border-radius: 50%;
}
.img-thumnail-lg {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  align-self: center;
}
a i {
  color: black;
}
.user-role {
  margin-top: 10px;
}
.user-detail {
  width: 400px;
}

@media (min-width: 375px) {
  .list {
    min-width: 150px;
  }
}
