* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  background-image: url("./assists/images/mobile-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.wrapper {
}
.mobile-layout {
  width: 100%;
  max-width: 400px;
  height: 700px;
  border: 5px solid black;
  border-radius: 25px;
  color: white;
  padding-top: 2%;
  /* padding-bottom: 2%; */
  position: relative;
}
.background {
  background-image: url("././assists/images/mobile-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-header {
  width: 100%;
  padding: 10px;
}
.speaker {
  width: 50px;
  height: 18px;
  background-color: black;
  border-radius: 999px;
}
.main {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
}
.main.contact {
  background-color: gray;
  border-radius: 0px 0px 17px 17px;
}
.slides {
  position: absolute;
  top: 80%;
  width: 95%;
  height: 50px;
  color: black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.slides > *:hover {
  color: purple;
  cursor: pointer;
}

.slides:hover {
  background-color: wheat;
}

.contactlist {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: red;
}
#contactlist {
  cursor: pointer;
}
.non-display {
  display: none !important;
}
.list {
  width: 100%;
  /* background-color: white; */
  border-radius: 0px 0px 17px 17px;
  height: 610px;
}
.search {
  padding: 0px 20px 0px 10px;
  width: 100%;
  position: relative;
}
.lbl-contact {
  font-size: 2rem;
}
.search > i {
  position: absolute;
  left: 85%;
  top: 10vh;
  cursor: pointer;
}
.img-thumnail {
  width: 190px;
  border-radius: 50%;
}
.img-thumnail-lg {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  align-self: center;
}
a i {
  color: black;
}
.user-role {
  margin-top: 10px;
}
.user-detail {
  width: 400px;
}
